@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center">@ViewBag.Title</h2><br />
<h3 style="padding:50px; color:grey; background-color:rgba(34,34,34,0.9); text-align:center">
    Founded on principles of excellence, equality and opportunity for all,
    the EDUCATION Online University opened in 1995 with just 230 students.
    Since then we have become one of the world's leading online universities,
    carving out a reputation as an academic powerhouse where a clear focus
    on excellence has secured national and international recognition alongside
    longer established institutions. 
</h3>
<p style="padding-top:50px; padding-right:50px; color:grey; background-color:rgba(34,34,34,0.9); min-height:150px">
    <img align="left" src="~/Assets/Uni-Logo.png" style="width:200px; margin-top:-30px" />
    A member of the elite Russell Group of universities, we are a dynamic,
    research-intensive university committed to the development of life-saving
    discoveries and new technologies to tackle some of the most pressing
    global challenges. 
</p>